
	

	/* universal */

	html {
	  overflow-y: scroll;
	}

	body {
	  padding-top: 60px;
	}

	section {
	  overflow: auto;
	} 

	


	textarea {
	  resize: vertical;
	}

	.center {
	  text-align: center;
	}

	.center h1 {
	  margin-bottom: 10px;
	} 

	/* typography */

	h1, h2, h3, h4, h5, h6 {
	  line-height: 1;
	}

	h1 {
	  font-size: 3em;
	  letter-spacing: -2px;
	  margin-bottom: 30px;
	  text-align: center;
	}

	

	
	h2 {
	  font-size: 1.7em;
	  letter-spacing: -1px;
	  margin-bottom: 30px;
	  text-align: center;
	  font-weight: normal;
	  color: #999;
	}

	p {
	  font-size: 1.1em;
	  line-height: 1.7em;
	}
	

/* header */

navbar {
  float: right;
}

navbar{
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

navbar ul {
  margin: 0;
  padding: 0;
}

navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

navbar ul li a {
  padding: 0 5px;
  font-weight: bold;
}

navbar ul li a:visited {
  color: #09c;
}

navbar ul li a:hover {
  text-decoration: underline;
}


footer {
	  margin-top: 45px;
	  padding-top: 5px;
	  border-top: 1px solid #eaeaea;
	  color: #999;
	}

	footer a {
	  color: #555;
	}  

	footer a:hover { 
	  color: #222;
	}
footer small {
	  float: left;
	}

	footer ul {
	  float: right;
	  list-style: none;
	}

	footer ul li {
	  float: left;
	  margin-left: 10px;
	}

